
# large data files

data/*.csv
data/*.json
data/*.geojson
data/geocoding/geocode_responses/*
data/geocoding/merged_data/*
public/earthquake-ex/*
public/data/planning_neighborhoods/*
public/data/*.geojson
*.pyc


# normal stuff
.DS_Store
node_modules
.env