body {
  margin: 0;
  padding: 0;
  font-size: 16;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.info-container {
  height: 100%;
}

.full-height-container {
  margin: 2%;
  overflow: hidden;
  height: 100%;
}

.full-height-container .scroll {
  overflow: auto;
  height: 100%;
}

.heading-container {
  height: 4rem;
  padding: 1rem;
} 
